body{
  background-image: url('./images/bg2.jpg');
  align-items: center;
  text-align: center;
}

.hello{

align-items: center !important;
text-align: center !important;
background-color: #fff7ff !important;

 
}

.cent {
  align-items: center !important;
  text-align: center !important;
  align-content: center;
  margin-top: 30px;
}

.btn {
  width: 100px;
  margin-top: 10px;
  padding: 15px;
  background-color: black;
  color: white;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
}

.sco {
  color: white;
}